<div class="container-fluid" ng-controller="SongViewCtrl as songView">
	<div class="row">
		<div class="col m3 s12">
			<h3>Filter by: </h3>
		</div>
		<div class="col m9 s12">
			<h3>Song List</h3>
		  <table>
		    <thead>
		      <tr>
		        <th data-field="id">Song</th>
		        <th data-field="price">Artist</th>
		      </tr>
		    </thead>

		    <tbody>
		      <tr ng-repeat="song in songView.songData">
		        <td><a href="#/details">{{song.name}}</a></td>
		        <td>{{song.artists[0].name}}</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
	</div>
</div>
